h1 svg {
  width: 38px;
}
h2 svg {
  width: 30px;
}
h3 svg {
  width: 24px;
}
h4 svg {
  width: 20px;
}
h5 svg {
  width: 16px;
}
.ant-typography {
  display: flex;
}
.ant-typography svg {
  margin-right: 10px;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: none !important;
}
h1 {
  margin: 0 !important;
}
